Server/src/XSD/actors.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="actors" minOccurs="1" maxOccurs="1">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="actor" minOccurs="0" maxOccurs="unbound">
          <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>