Server/src/XSD/message.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="message"  minOccurs="1" maxOccurs="unbound">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="movie"  minOccurs="1" maxOccurs="unbound">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="discription" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
            <xsd:attribute name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:attribute name="date" type="xsd:date" minOccurs="1" maxOccurs="1"/>
            <xsd:attribute name="image" type="xsd:anyURI" minOccurs="0" maxOccurs="1"/>
            <xsd:attribute name="link" type="xsd:anyURI" minOccurs="0" maxOccurs="1"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>