Server/src/XSD/message.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="message">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="movie">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="discription" type="xsd:string" />
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" />
            <xsd:attribute name="name" type="xsd:string" />
            <xsd:attribute name="date" type="xsd:string" />
            <xsd:attribute name="image" type="xsd:string" />
            <xsd:attribute name="link" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>