Server/src/XSD/movies.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="movies">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="movie">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="date">
                <xsd:complexType>
                  <xsd:attribute name="publication" type="xsd:string" />
                  <xsd:attribute name="avaible" type="xsd:string" />
                  <xsd:attribute name="return" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="discription" type="xsd:string" />
              <xsd:element name="actors">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="actor">
                      <xsd:complexType>
                        <xsd:attribute name="id" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="generes">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="genere">
                      <xsd:complexType>
                        <xsd:attribute name="id" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string" />
            <xsd:attribute name="length" type="xsd:string" />
            <xsd:attribute name="format" type="xsd:string" />
            <xsd:attribute name="regiseur" type="xsd:string" />
            <xsd:attribute name="image" type="xsd:string" />
            <xsd:attribute name="new" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>