RestServer/src/restserver/XML/accounts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="accounts">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="account" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="genres" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
              <xsd:element name="wishes" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string" />
            <xsd:attribute name="mail" type="xsd:string" />
            <xsd:attribute name="age" type="xsd:date" />
            <xsd:attribute name="password" type="xsd:string" />
            <xsd:attribute name="date" type="xsd:date" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>