RestServer/src/restserver/XML/movies.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="movies">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="movie" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="discription" type="xsd:string" />
              <xsd:element name="actors" type="xsd:string" />
              <xsd:element name="genres" type="xsd:string" />
              <xsd:element name="stocks">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="stock" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:attribute name="id" type="xsd:int" />
                        <xsd:attribute name="lent" type="xsd:boolean" />
                        <xsd:attribute name="return" type="xsd:date" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string" />
            <xsd:attribute name="length" type="xsd:int" />
            <xsd:attribute name="format" type="xsd:string" />
            <xsd:attribute name="regiseur" type="xsd:string" />
            <xsd:attribute name="image" type="xsd:anyURI" />
            <xsd:attribute name="price" type="xsd:float" />
            <xsd:attribute name="date" type="xsd:date" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>